@{
    <h3>Добавить картинку</h3>
    <form method="post" action="addPicture">
        <label for="File" class="form-label">Картинка на стену</label>
        <input type="file" class="form-control" name="File" id="File" />
        <input type="submit" class="btn btn-primary" value="Добавить" />
    </form>
}