@{
    ViewData["Title"] = "Главная | MyProfile";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать на MyProfile</h1>
    <h3>Асоциальная сеть для истинных гиков</h3>
    <h4>Количество активных участников: @ViewBag.CountActiveUsers</h4>
    <a asp-controller="profile" asp-action="new" class="btn btn-primary">Регистрация</a>
    <a asp-controller="profile" asp-action="login" class="btn btn-success">Войти</a>
</div>
